*~
*.IGC
*.dbf
*.shp
*.shx
\#*#
.#*
*.orig
*.rej
*.log
*.xcm
data
jobs
*.pyc
bin/shptree
bin/gdalwarp
bin/ogr2ogr

README.md.BKP
xcsoar-maplibre-poc/hypsometric-restyle/images
xcsoar-maplibre-poc/hypsometric-restyle/scripts